<footer>
    <a class="company-logo" href="{{ .Site.BaseURL }}">
        HUGO TEST
    </a>
    <div class="copyright">
        &copy; {{ .Site.Params.copyrightHtml }}
    </div>
</footer>

<script type="text/javascript" src="{{ .Site.BaseURL }}dist/main.js"></script>
