<div class="navigation">
    <div class="top-bar">
        <div class="top-bar-left">
            <a class="company-logo" href="{{ .Site.BaseURL }}">
                HUGO TEST
                <h1>{{ .Site.Title }}</h1>
            </a>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a class="button secondary" href="{{ .Site.BaseURL }}signin">
                        <span>Sign In</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


