<title>{{ .Site.Title }}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
<link href="{{ .Site.BaseURL }}dist/styles.css" rel="stylesheet"></link>
