{{ define "main" }}

<div class="page page-home">
    <section class="init">
        <div class="content">
            <h1>{{ $.Param "contents.init.title" }}</h1>
        </div>
    </section>

</div>

{{ end }}
